@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Khmer:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
    --bg-whtie: white;
    --bg-gray: gray;
    --pr-color: #00AAFF;
    --bg-blue: #007bff;
    --text-gray: #6f6f6f;
    --bg-orange: #f58800;
    --active: #006da1;
}


.dot {
    height: 3px !important;
    width: 3px !important ;
    background-color: gray;
    border-radius: 50%;
}


p {

    margin: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'Noto Sans Khmer', sans-serif;
}

/*  Text Color */
.t-black {
    color: black;
}
.t-red {
    color: red;
}
.t-active {
    color: #006da1 !important;
}
.t-white {
    color: white;
}

.t-light-gray {
    color: lightgray;
}

.t-gray {
    color: gray;
}

.t-primary {
    color: #007bff !important;
}

/* Backround Color */
.b-black {
    background-color: #000;
}
.b-gray {
    background-color: gray;
}

.b-ligth-gray {
    background-color: lightgray;
}

.b-white-smoke {
    background-color: whitesmoke;
}
.b-white {
    background-color: white;
}
.b-primary {
    background-color: #007bff;
}


body {
    background-color: whitesmoke;
    width: 100%;
}

button {
    cursor: pointer;
}


.test-flex {
    column-gap: 16px;
    display: flex;
}


.nuxt-link {
    text-decoration: none !important;
}
/* text style */
.main-title {
    font-size: 16px;    
    color: black;
}

.sub-title {
    color: gray;
    font-size: 15px;
    font-weight: 300;
    
}

.price {
    color: red;
    font-size: 24px;
    font-weight: bold;
}


/* category */
.main-category {
    background-color: white;
    flex-wrap: wrap;    
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-inline: auto; 
    padding: 1.5rem 1rem;   
}

/* .card-link {
    width: 15%;
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin-bottom: 20px;
}

/* post */
/* .main-post {
    text-decoration: none;
    background-color: whitesmoke;
    gap: 30px 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
} */ */

.main-post > .card-link {
    text-decoration: none;
}


.card-link {
    /* width: 15%; */
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin-bottom: 20px;
    /* background-color: #006da1; */
    /* border: 1px solid lightblue; */
    
}

/* post */
.main-post {
    padding: 0 1rem;
    margin: 0 auto;
    text-decoration: none;
    background-color: whitesmoke;
    gap: 10px;
    /* width: 100%; */
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(5, 1fr);
}


@media  (min-width: 1920px){
    .main-post {    
        /* background: #000; */
        /* grid-template-columns: repeat(5, 1fr); */
    }
}

@media (max-width: 1920px){
    .main-post {
        grid-template-columns: repeat(4, 1fr);
    }
}



.category-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}


.icon-catecgory {
    margin-bottom: 1rem;
    display: flex;
    text-align: center;
    justify-items: center;
    align-items: center;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    background: #7777;
}
.icon-catecgory-img {
    height: 80px;
    margin: auto;
    display: block;
}
.catecgory-title {
    color: var(--text-gray) !important;
}


/* -------------- Filter Button & Modal Start ------------- */
.filter-button {
    border: none;
    border-radius: 4px;
    font-size: 14px;
    width: max-content;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    padding: 3px 6px;
    height: 40px;
}

.filter-button > p {
    margin: 0;
}

.list-item {
    /* height: 100%; */
    height: 50px;
    padding: 8px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid lightgray;
    cursor: pointer;
}

.list-item > p {
    display: flex;
    align-items: center;
    height: 50px;
    margin-bottom: 0;
}
.list-item:hover {
    background-color: lightgray;
}

.list-item > svg {
    font-size: 24px;
    color: gray;
}

.c-btn-close,
.back-icon {
  display: none;
}

.c-btn-close.active,
.back-icon.active {
  display: block;
}

.c-modal-body {
  padding: 0;
}

.c-modal-body > .list {
  height: 100%;
  display: none;
}

.c-modal-body > .list.active {
  height: 100%;
  display: block;
}

.c-modal-dialog {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow-y: hidden;
  min-width: 100% !important;
  left: 0;
  bottom: 0;
  height: 60% !important;
  position: absolute;
}

.c-modal-content {
  height: 100%;
  min-width: 100% !important;
}

.c-modal-header {
  background: lightgray;
  min-width: 100% !important;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.c-modal-header > p {
  height: 100%;
}

.c-modal-header > button {
  border: none;
  background-color: transparent;
}

.apply-price-filter {
    font-size: 16px;
    font-weight: bold;
    color: white;
    width: 100%;
    margin: 16px auto;
    background-color: var(--bg-orange);
    border: none;
    border-radius: 4px;
    padding: 16px  8px ;
}

.input-box>input:focus,
.select-box>select:focus,
.min-number-input > input:focus, 
.max-number-input > input:focus {
    border: 1px solid lightgrey;
    outline: none;
    box-shadow: 0px 0px 2px 1px rgba(0, 170, 255, 0.61);
    -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 170, 255, 0.61);
    -moz-box-shadow: 0px 0px 2px 1px rgba(0, 170, 255, 0.61);
}

.input-box>input,
.select-box>select,
.min-number-input>input,
.max-number-input>input
 {
    font-size: 16px;
    width: 100%;
    height: 100%;
    padding: 16px;
    border: 1px solid lightgrey;
    border-radius: 4px;
    background-color: white;
    color: black;
}
/* -------------- Filter Button & Modal End ------------- */



/* -------------- Footer Start ------------- */

.footer-container {
    border-top: 1px solid lightgray;
    position: fixed;
    bottom: 0;
    background: white;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;    
}


/* -------------- Footer End ------------- */



