@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Khmer:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
    --bg-whtie: white;
    --bg-gray: gray;
    --pr-color: #00AAFF;
    --bg-blue: #007bff;
    --text-gray: #6f6f6f;
    --bg-orange: #f58800;
    --active: #006da1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'Noto Sans Khmer', sans-serif;
 }

body {
    background-color: whitesmoke;
    width: 100%;
 }
 button {
    cursor: pointer;
 }
/* text style */
.main-title {
    font-size: 16px;    
    color: black;
}

.sub-title {
    color: gray;
    font-size: 15px;
    font-weight: 300;

}

.price {
    color: red;
    font-size: 24px;
    font-weight: bold;
}


/* category */
.main-category {
    background-color: white;
    flex-wrap: wrap;    
    width: 100%;
    display: flex; 
    padding: 1.5rem 1rem;   
}

.card-link {
    width: 15%;
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin-bottom: 20px;
}

/* post */
.main-post {
    text-decoration: none;
    background-color: whitesmoke;
    gap: 30px 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.main-post > .card-link {
    text-decoration: none;
}

.category-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.icon-catecgory {
    margin-bottom: 1rem;
    display: flex;
    text-align: center;
    justify-items: center;
    align-items: center;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    background: #7777;
}
.icon-catecgory-img {
    height: 80px;
    margin: auto;
    display: block;
}
.catecgory-title {

    color: var(--text-gray) !important;
}





